@{
    ViewData["Title"] = "Fully";
}
<h2 style="text-align: center;">Acerca de Fully</h2>
<article>Fully es un gato curioso y observador, siempre atento a lo que sucede a su alrededor. 
    Con su elegante pelaje y sus ojos brillantes, Fully es la definición de gracia felina. 
    Aunque puede parecer reservado al principio, tiene un lado juguetón que revela solo a quienes 
    ganan su confianza. Sus maullidos suaves y su presencia tranquila hacen de él un compañero ideal 
    para las tardes relajadas en casa. Fully es más que una mascota, es un miembro especial de la familia, 
    lleno de afecto y carácter.</article>

<div style="text-align: center;margin-top:20px;">
    <img src="~/imagenes/fully.jpg" alt="Fully" style="max-width: 300px; height: auto; display: block; margin: 0 auto;">
</div>