@{
    ViewData["Title"] = "Copo";
}
<h2 style="text-align: center;">Acerca de Copo</h2>
<article>Copo es una gata de temperamento suave y afectuoso, conocida por su pelaje blanco como la nieve y sus ojos expresivos. 
    A pesar de su apariencia delicada, Copo tiene una personalidad juguetona y curiosa que la lleva a explorar cada rincón de la casa. 
    Su naturaleza tranquila y su habilidad para acurrucarse en el regazo hacen de ella una compañera perfecta para las noches de lectura o 
    para relajarse frente al televisor. Copo no solo es una mascota, sino una presencia calmante que aporta paz y alegría a quienes la rodean.</article>

<div style="text-align: center;">
    <img src="~/imagenes/copo.jpg" alt="Copo" style="max-width: 300px; height: auto; display: block; margin: 0 auto;">
</div>